<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Claim Polygragh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <!-- <header class="container">
        <h1>Claim Analysis</h1>
    </header> -->

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-area">
            {% for category, msg in messages %}
            <div class="flash {{ category }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer class="container small">
        <p>This system is powered by LLM and may occasionally produce errors.</p>
    </footer>
</body>

</html>